<!DOCTYPE html>
    <html lang="es">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Livvic">
    <link rel="shortcut icon" href="static/img/_260c3a3f-b5a7-4736-b622-501bce489d78.jpeg" type="image/x-icon">
    <title>Tec Export</title>
</head>
    <body>
    
        <div class="navbar">
            <span class="title">Tec Export.</span> 
            <ul>
                <li><a class="itemList" href="index.php">Inicio</a></li>
                <li><a class="itemList" href="https://tecuruapan.edu.mx/" target="_blank">Nosotros</a></li>
                <li><a class="itemList" href="#">Normas</a></li>
                <li><a class="itemList" href="https://www.facebook.com/tecnmcampusuruapan" target="_blank">Noticias</a></li>
                <li><a class="itemList" href="#">Contacto</a></li>
            </ul>
        </div>

        <div class="section-jefes">
            
            <div class="card-jefe">
                <img src="static/icons/girl.png" alt="Jefe de departamento" class="img-jef">
                <div class="info-jefe">
                    <h3 class="card-title-jef">M.E. Suzel Rivera González</h3>
                    <p class="card-content-jef">
                        <span>Jefa del departamento de sistemas</span><br>
                        <a href="mailto:suzel.rv@uruapan.tecnm.mx">e-Mail: suzel.rv@uruapan.tecnm.mx</a><br>
                        <span>Conmutador: <strong>4525275050</strong> Extensión 0502</span><br>
                        <span>Edificio A Planta Alta</span><br>
                        <span>Horario de atención: 9:00 a 14:00 - 15:00 a 17:00.</span>
                    </p>
                </div>
            </div>
            
            <div class="card-jefe">
                <img src="static/icons/girl.png" alt="Jefa de División" class="img-jef">
                <div class="info-jefe">
                  <h3 class="card-title-jef">M.A. Marina Cazorla García</h3>
                  <p class="card-content-jef">
                    <span>Jefa de División</span><br>
                    <a href="mailto:marinazazorla@tecuruapan.edu.mx">e-Mail: marinazazorla@tecuruapan.edu.mx</a><br>
                    <span>Conmutador: <strong>4525275050</strong> Extensión S/N</span><br>
                    <span>Edificio F Planta Baja</span><br>
                    <span>Horario de atención: 9:00 a 14:00 - 15:00 a 17:00.</span>
                  </p>
                </div>
              </div>
              
              <div class="card-jefe">
                <img src="static/icons/man.png" alt="Jefe de Departamento" class="img-jef">
                <div class="info-jefe">
                  <h3 class="card-title-jef">Ing. Carlos Castillo Arévalo</h3>
                  <p class="card-content-jef">
                    <span>Jefe de Ingenieria Electronica</span><br>
                    <a href="mailto:carlos.ca@uruapan.tecnm.mx">e-Mail: carlos.ca@uruapan.tecnm.mx</a><br>
                    <span>Conmutador: <strong>4525275050</strong> Extensión 0503</span><br>
                    <span>Edificio D Planta Alta</span><br>
                    <span>Horario de atención: 9:00 a 14:00 - 15:00 a 17:00.</span>
                  </p>
                </div>
              </div>
        </div>

        <div class="section-jefes">
            <div class="card-jefe">
                <img src="static/icons/girl.png" alt="Jefa de Departamento" class="img-jef">
                <div class="info-jefe">
                  <h3 class="card-title-jef">IIA. Katia Gayosso Suárez</h3>
                  <p class="card-content-jef">
                    <span>Jefa de Ingenieria Industrias Alimentarias</span><br>
                    <a href="mailto:katiagayosso@tecuruapan.edu.mx">e-Mail: katiagayosso@tecuruapan.edu.mx</a><br>
                    <span>Conmutador: <strong>4525275050</strong></span><br>
                    <span>Edificio D Planta Alta</span><br>
                    <span>Horario: 9:00 a 14:00 - 15:00 a 17:00</span>
                  </p>
                </div>
              </div>
              

              <div class="card-jefe">
                <img src="static/icons/man.png" alt="Jefe de Departamento" class="img-jef">
                <div class="info-jefe">
                  <h3 class="card-title-jef">Ing. Raúl Alvarado Guerra</h3>
                  <p class="card-content-jef">
                    <span>Jefe de Departamento</span><br>
                    <a href="mailto:raulalvarado@tecuruapan.edu.mx">e-Mail: raulalvarado@tecuruapan.edu.mx</a><br>
                    <span>Conmutador: <strong>4525275050</strong></span><br>
                    <span>Edificio A Planta Baja</span><br>
                    <span>Horario: 9:00 a 14:00 - 15:00 a 17:00</span>
                  </p>
                </div>
              </div>
              
              <div class="card-jefe">
                <img src="static/icons/man.png" alt="Jefe de Departamento" class="img-jef">
                <div class="info-jefe">
                  <h3 class="card-title-jef">Juan Carlos Camarillo Pacheco</h3>
                  <p class="card-content-jef">
                    <span>Jefe de Departamento</span><br>
                    <a href="mailto:juan.cp@uruapan.tecnm.mx">e-Mail: juan.cp@uruapan.tecnm.mx</a><br>
                    <span>Conmutador: <strong>4525275050</strong></span><br>
                    <span>Edificio: F planta baja</span><br>
                    <span>HORARIO</span>
                    <span>9:00 a 14:00 - 15:00 a 17:00</span>
                  </p>
                </div>
              </div>
              
              
        </div>

        <div class="section-jefes">
            <div class="card-jefe">
                <img src="static/icons/man.png" alt="Jefe de Departamento" class="img-jef">
                <div class="info-jefe">
                  <h3 class="card-title-jef">Ing. Julio César Cuevas Soto</h3>
                  <p class="card-content-jef">
                    <span>Jefe de Departamento</span><br>
                    <a href="mailto:juliocuevas@tecuruapan.edu.mx">e-Mail: juliocuevas@tecuruapan.edu.mx</a><br>
                    <span>Conmutador: <strong>4525275050</strong></span><br>
                    <span>Edificio: B Planta Alta</span><br>
                    <span>HORARIO</span><br>
                    <span>9:00 a 14:00 - 15:00 a 17:00</span>
                  </p>
                </div>
              </div>
              
        </div>

    </body>
<script src="static/js/index.js"></script>
</html>